*{
   margin: 0px;
   padding: 0px;
}


section
{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border:1px slid green;
}
section>div
{
    height: 200px;
border: 1px solid black;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: antiquewhite;

}

a
{
    margin: 40px;   
}